<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center ">
				<div class="col-xs-12 col-sm-6 col-md-6 text-sm-left text-md-left">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="/pages/store-front"><i class="fa fa-angle-double-right"></i>Store-front</a></li>
						<li><a href="/payment"><i class="fa fa-angle-double-right"></i>Payment</a></li>
						<li><a href="/tutorials"><i class="fa fa-angle-double-right"></i>Tutorials</a></li>
						<li><a href="/about"><i class="fa fa-angle-double-right"></i>About Author</a></li>
            <li><a href="/faq"><i class="fa fa-angle-double-right"></i>faqs</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 text-sm-left text-md-left">
					<h5>
						About us
					</h5>
					<p style="color:#f3f3f3">Botics Technologies is a IoT oriented web portal which provides
						instructional and demonstrational videos, final year project assistantship and also best and affordable pricing
						on IoT project components. <br>
					 In January 2019, Samuel Oduro, a graduate student of Knust in the Computer Science Department designed this portal
					 to contribute to our universities curriculum in the IoT diaspora.

					 </p>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.facebook.com/Botics-Technologies-432356930858303/?modal=admin_todo_tour" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/BoticsT" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/botics_technologies/" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.youtube.com/channel/UCVBZxlx3TUZMkZdFwNId6Pw/featured?disable_polymer=1" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">

					<p class="h6">&copy Designed by <a class="text-green ml-2" href="https://web.facebook.com/sammy.oduro.7" target="_blank">Samuel Oduro</a></p>
				</div>
				</hr>
			</div>
		</div>
	</section>
	<script type="text/javascript">
	$('body').on("click",".zoomimg",function () {
	  var child_img = $(this).attr('src');
		$('.data-fancybox').attr('href',child_img);
	  $('.displayimg').attr('src',child_img);
	});
	</script>
